<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.XamForms.UserDialogs" version="2.0.1" targetFramework="MonoAndroid42" />
  <package id="Mindscape.Raygun4Net" version="3.3.1" targetFramework="MonoAndroid42" />
  <package id="SQLite.Net.Async-PCL" version="2.3.0" targetFramework="MonoAndroid403" />
  <package id="SQLite.Net.Platform.XamarinAndroid" version="2.3.0" targetFramework="MonoAndroid403" />
  <package id="SQLite.Net-PCL" version="2.3.0" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v4" version="20.0.0.3" targetFramework="MonoAndroid42" />
  <package id="Xamarin.Forms" version="1.2.2.6243" targetFramework="MonoAndroid42" />
  <package id="Xamarin.Insights" version="1.7.3.98" targetFramework="MonoAndroid42" />
</packages>